absl-py==2.1.0
action-msgs==2.0.2
actionlib-msgs==5.3.5
ament-cmake-test==2.5.3
ament-copyright==0.17.1
ament-cppcheck==0.17.1
ament-cpplint==0.17.1
ament-flake8==0.17.1
ament-index-python==1.8.1
ament-lint==0.17.1
ament-lint-cmake==0.17.1
ament-package==0.16.3
ament-pep257==0.17.1
ament-uncrustify==0.17.1
ament-xmllint==0.17.1
angles==1.16.0
astunparse==1.6.3
builtin-interfaces==2.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
composition-interfaces==2.0.2
contourpy==1.3.1
custom-msgs==0.0.0
cv-bridge==4.1.0
cycler==0.12.1
decisions==0.0.0
diagnostic-msgs==5.3.5
diagnostic-updater==4.2.1
domain-coordinator==0.12.0
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.3.0
gast==0.6.0
geographic-msgs==1.0.6
geometry-msgs==5.3.5
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
idna==3.10
Jinja2==3.1.6
keras==3.9.0
kiwisolver==1.4.8
launch==3.4.3
launch-ros==0.26.6
launch-testing==3.4.3
launch-testing-ros==0.26.6
launch-xml==3.4.3
launch-yaml==3.4.3
lgpio==0.2.2.0
libclang==18.1.1
lifecycle-msgs==2.0.2
locomotion==0.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
message-filters==4.11.3
ml_dtypes==0.5.1
mpmath==1.3.0
namex==0.0.8
nav-msgs==5.3.5
networkx==3.4.2
numpy==2.1.1
onnx==1.17.0
opencv-python==4.11.0.86
openvino==2024.6.0
openvino-telemetry==2025.1.0
opt_einsum==3.4.0
optree==0.14.1
osrf-pycommon==2.1.5
packaging==20.9
pandas==2.2.3
Pi5Neo==1.0.5
pillow==11.1.0
protobuf==5.29.3
psutil==7.0.0
py-cpuinfo==9.0.0
pygame==2.6.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
rcl-interfaces==2.0.2
rclpy==7.1.3
rcutils==6.7.2
requests==2.32.3
resource-retriever==3.4.3
rich==13.9.4
rmw-dds-common==3.1.0
robot-localization==3.8.1
ros2action==0.32.2
ros2bag==0.26.6
ros2bag-mcap-cli==0.26.6
ros2bag-sqlite3-cli==0.26.6
ros2cli==0.32.2
ros2component==0.32.2
ros2doctor==0.32.2
ros2interface==0.32.2
ros2launch==0.26.6
ros2lifecycle==0.32.2
ros2multicast==0.32.2
ros2node==0.32.2
ros2param==0.32.2
ros2pkg==0.32.2
ros2run==0.32.2
ros2service==0.32.2
ros2topic==0.32.2
rosbag2-interfaces==0.26.6
rosbag2-py==0.26.6
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cli==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-py==0.22.0
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-pycommon==4.6.5
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rpi-lgpio==0.6
rpyutils==0.4.1
scipy==1.15.2
seaborn==0.13.2
sensor-msgs==5.3.5
sensor-msgs-py==5.3.5
service-msgs==2.0.2
setuptools==76.0.0
shape-msgs==5.3.5
six==1.17.0
spidev==3.6
sros2==0.13.2
statistics-msgs==2.0.2
std-msgs==5.3.5
std-srvs==5.3.5
stereo-msgs==5.3.5
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-hub==0.12.0
tensorflowjs==3.18.0
tensorstore==0.1.72
termcolor==2.5.0
tf2-geometry-msgs==0.36.8
tf2-kdl==0.36.8
tf2-msgs==0.36.8
tf2-py==0.36.8
tf2-ros-py==0.36.8
tf2-sensor-msgs==0.36.8
tf2-tools==0.36.8
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
trajectory-msgs==5.3.5
type-description-interfaces==2.0.2
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.88
ultralytics-thop==2.0.14
unique-identifier-msgs==2.5.0
urllib3==2.3.0
utils==0.0.0
visualization-msgs==5.3.5
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
